@import url("/src/public/css/global.css");
body {
  background-color: var(--bg-color);
  color: var(--color-font);
}
h1 {
  font-size: 2.4rem;
}

main {
  max-height: 100vh;
  max-width: 100vw;
}
main header {
  margin: 11.5rem 16rem 8.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main header img {
  width: 19.2rem;
}

main header input {
  border: none;
  border: 1px solid var(--color-primary);
  padding: 1.6rem;
  width: 46.2rem;
  color: var(--color-font);

  height: 4.8rem;
  background-color: var(--color-primary-dark);
  border-radius: 0.5rem;
}

/* estilização da div */
main header div {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 1s;
}
main header button {
  width: 170px;
  height: 48px;
  background-color: var(--color-primary);
  color: var(--color-font);
  font-weight: 700;
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 5px;
}
main header div button svg {
  width: 2.4rem;
  background-color: transparent;
}

main header div button:hover,
main header div button:hover > svg path {
  background-color: var(--color-font);
  fill: var(--color-primary);
  color: var(--color-primary);
  transition: all 1ms;
}

main section {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 8.7rem 16rem 11.6rem;
}
main section table * {
  font-size: 2rem;
}
main section table {
  border-collapse: collapse;
  width: 100%;
}

main section table tbody {
  font-weight: 700;
  background-color: var(--color-body-table);
}
table th {
  padding: 1.5rem;
}
table tbody td,
table tbody tr {
  padding: 1.5rem;
  text-align: center;
}
table tbody tr .user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

table tbody tr td img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

table tbody tr .user a {
  text-decoration: none;
  color: var(--color-font);
  font-size: 1.4rem !important;
}

table tbody tr .user a p {
  font-weight: normal;
}

table tbody tr td button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-button-remove);
  cursor: pointer;
  transition: 1s all;
}

table tbody tr td button:hover {
  color: var(--color-font);
}
table tr:nth-last-child(odd) {
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-head);
}

table th:last-child {
  border-top-right-radius: 8px;
}

table th:first-child {
  border-top-left-radius: 8px;
  /* border: 1px solid red; */
}
